$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

$blue: rgb(0, 0, 255);
$blue-lighter: rgb(53, 117, 255);

$xxx-small: 10px;
$xx-small: 12px;
$x-small: 14px;
$small: 16px;
$base: 18px;
$large: 22px;
$x-large: 24px;
$xx-large: 32px;
$xxx-large: 36px;
$xxxx-large: 42px;
