@font-face {
  font-family: "Montserrat Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../../public/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../../public/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Montserrat Medium";
}
