$space_px: (
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
);

$utility_space_px: (
  "6xs": map.get($space_px, 4),
  "5xs": map.get($space_px, 6),
  "4xs": map.get($space_px, 8),
  "3xs": map.get($space_px, 10),
  "2xs": map.get($space_px, 12),
  "xs": map.get($space_px, 14),
  "sm": map.get($space_px, 16),
  "md": map.get($space_px, 18),
  "default": map.get($space_px, 20),
  "lg": map.get($space_px, 22),
  "xl": map.get($space_px, 24),
  "2xl": map.get($space_px, 32),
  "3xl": map.get($space_px, 36),
  "4xl": map.get($space_px, 40),
  "5xl": map.get($space_px, 44),
  "6xl": map.get($space_px, 48),
);

@each $utility_space_name, $utility_space_values in ($utility_space_px) {
  @each $space_number, $space_value in ($utility_space_values) {
    .leading-#{$utility_space_name} {
      line-height: $space_value !important;
    }

    .leading-#{$utility_space_name} {
      line-height: $space_value !important;
    }

    .leading-#{$utility_space_name} {
      line-height: $space_value !important;
    }
  }
}
