.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .top {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat ExtraBold";
  }

  & .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Medium Italic";
  }

  & .nav {
    display: flex;
    justify-content: space-between;
    margin: auto 100px;
    border-top: 2px solid black;

    & .link {
      cursor: pointer;
    }
  }
}
